---
import Link from "../icons/Social/Link.astro";
---
<div class="container px-5 py-6 mx-auto">

    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-800 sm:flex-row flex-col">
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
            <h2 class="text-white text-2xl mb-2 font-bold">Introduction to Cybersecurity</h2>
            <p class="text-xl mb-2 font-semibold">Curso de Cisco Networking Academy.</p>
            <p class="leading-relaxed text-base">Este curso introductorio lo lleva al mundo de la ciberseguridad. Aprenderá los conceptos básicos de ciberseguridad para proteger su vida digital personal y obtendrá información sobre los mayores desafíos de seguridad que enfrentan las empresas, los gobiernos y las instituciones educativas en la actualidad. Los profesionales de ciberseguridad que pueden proteger y defender la red de una organización tienen una gran demanda.</p>
            <a href="/docs/Introduction_to_Cybersecurity_certificate.pdf" target="_blank" class="mt-3 text-indigo-400 inline-flex items-center"><Link class="size-6 mr-2" />  Ver Certificado</a>
            <a href="https://www.credly.com/badges/f91850cd-ee7f-470f-935f-1c3acf32c773/public_url" target="_blank" class="mt-3 text-indigo-400 inline-flex items-center"><Link class="size-6 mr-2" />  Ver Insignia del Curso</a>
        </div>
        <img src="https://skillsforall.com/sfa-assets/images/svg/netacad_logo_black.svg" class="w-48 h-20 sm:ml-20 mb-4 sm:mb-0" alt="Desafio Latam Logo"/>
    </div>

    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-800 sm:flex-row flex-col">
        <img src="https://skillsforall.com/sfa-assets/images/svg/netacad_logo_black.svg" class="w-48 h-20 sm:mr-20 mb-4 sm:mb-0" alt="Logo Desafio Latam"/>
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
            <h2 class="text-white text-2xl mb-2 font-bold">Introduction to IoT</h2>
            <p class="text-xl mb-2 font-semibold">Curso de Cisco Networking Academy.</p>
            <p class="leading-relaxed text-base">El Internet de las Cosas (IoT) es un campo en rápido crecimiento que, junto a tecnologías emergentes como el análisis de datos, la inteligencia artificial y la ciberseguridad, está revolucionando industrias y abriendo nuevas oportunidades laborales. Con más de 26 mil millones de dispositivos conectados, aprender habilidades en IoT es clave para transformar negocios en diversos sectores y acceder a empleos bien remunerados.</p>
            <a href="/docs/Introduction_to_IoT_certificate.pdf" target="_blank" class="mt-3 text-indigo-400 inline-flex items-center"><Link class="size-6 mr-2" />  Ver Certificado</a>
            <a href="https://www.credly.com/badges/f51ff073-f62a-452f-a0dc-5fbd3d366a2d/public_url" target="_blank" class="mt-3 text-indigo-400 inline-flex items-center"><Link class="size-6 mr-2" />  Ver Insignia del Curso</a>
        </div>
    </div>

    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-800 sm:flex-row flex-col">
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
            <h2 class="text-white text-2xl mb-2 font-bold">Get Connected</h2>
            <p class="text-xl mb-2 font-semibold">Curso de Cisco Networking Academy.</p>
            <p class="leading-relaxed text-base">El mundo digital ya es una realidad, tanto en el ámbito personal como el profesional. Tener una mejor comprensión de Internet, las computadoras y los medios sociales puede contribuir mucho a la adquisición de capacidades digitales. Y, una vez obtenidas estas capacidades, se le abrirán muchas más posibilidades para avanzar profesionalmente. Sepa cómo utilizar una computadora, conectar dispositivos y acceder a búsquedas, correo electrónico y medios sociales. Disfrute del contenido del curso, el cual es muy sencillo e interactivo, e incluye muchas ilustraciones. No se exigen conocimientos previos para este curso introductorio.</p>
            <a href="/docs/get_Connected.pdf" target="_blank" class="mt-3 text-indigo-400 inline-flex items-center"><Link class="size-6 mr-2" />  Ver Certificado</a>
        </div>
        <img src="https://skillsforall.com/sfa-assets/images/svg/netacad_logo_black.svg" class="w-48 h-20 sm:ml-20 mb-4 sm:mb-0" alt="Desafio Latam Logo"/>
    </div>

    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-800 sm:flex-row flex-col">
        <img src="https://lms.becasgruporomero.pe/theme/image.php/becas/theme_becas/1770063490/logo" class="w-48 h-20 sm:ml-20 mb-4 sm:mb-0" alt="Desafio Latam Logo"/>
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
            <h2 class="text-white text-2xl mb-2 font-bold">Excel Intermedio</h2>
            <p class="text-xl mb-2 font-semibold">Curso de Becas Grupo Romero.</p>

            <a href="/docs/Certificado_Excel_Intermedio.pdf" target="_blank" class="mt-3 text-indigo-400 inline-flex items-center"><Link class="size-6 mr-2" />  Ver Certificado</a>
        </div>
    </div>
</div>
